<!doctype html>
<h1 style="color: red;">This is my tempalte!</h1>
<p>There are many others like it; but this one is mine.</p>

<title>Hello from Flask</title>
{% if name %}
  <h1>Hello, {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
